$arrow-size: 30px;
$arrow-color: var(--drab);

.arrow-container {
    background-color: var(--ice);
    padding: 10px;
    transition: transform 0.5s, top 0.2s;
    position: absolute;
    left: 45%;
    top: - $arrow-size * 1.75;
    border-radius: 50%;
    .arrow-round {
        transition: opacity 0.5s;
        opacity: 0;
        margin: 0 auto;
        width: $arrow-size;
        height: $arrow-size;
        border: math.div($arrow-size, 6) solid $arrow-color;
        border-radius: 50%;
        border-right-color: transparent;
        &::after {
            content: "";
            position: absolute;
            border: math.div($arrow-size, 2.5) solid $arrow-color;
            top:  math.div($arrow-size, 3); 
            left: $arrow-size - math.div($arrow-size, 10);
            border-bottom-color: $arrow-color;
            border-top-width: 0;
            border-right-width: 0;
            border-left-color: transparent;
        }
    }
}

.rotate-animation {
    animation: rotateReload .75s infinite ease-in-out;
}

@keyframes rotateReload {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}