.Body {
    @extend %font-primary;
    color: var(--drab);
    background-color: var(--snow);
}

.Body_settings {
    min-height: 100vh;
    background-color: var(--ice);
    .Main__header {
        span {
            color: var(--sage);
        }
    }
}