.darkMode-Btn {
  text-transform: uppercase;
  border: 1px solid #f0f3f4;
  color: #000;
  border-radius: 20px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 25px;
  display: block;
}

.version-text {
  text-align: center;
}

.darkmode__main {
  background-color: #324755;
}
