* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

input[type="submit"]{
    cursor: pointer;
}

select {
    font-family: inherit;
}