.Section {
    &__header {
        text-transform: uppercase;
        @extend %section-header;
    }
    &__icon {
        width: 30px;
        height: 30px;
        box-shadow: 5px 5px 10px rgb(0, 0, 0, 20%);
    }
    &>*{
        border-top: 1px solid var(--ice);
    }
    &__chevron {
        transition: transform .1s ease-in-out;
    }
}