/*Toastify class*/
%Toast {
    font-size: $font-size-base;
    color: map-get($colors, "snow") !important;
    max-width: 50% !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 20%) !important;
}

.Toast_save {
    @extend %Toast;
    background: var(--sage) !important;
}
.Toast_delete {
    @extend %Toast;
    background: var(--danger) !important;
}