/* use rules */
/* base & reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

input[type=submit] {
  cursor: pointer;
}

select {
  font-family: inherit;
}

:root {
  --transparent: transparent;
  --sage: #87BCBF;
  --rust: #D97D54;
  --drab: #324755;
  --danger: #D95454;
  --ice: #F0F3F4;
  --fossil: #C8D1D3;
  --sand: #B9B0A2;
  --onyx: #1B1C20;
  --slate: #6E8CA0;
  --snow: #FFFFFF;
  --black: #000000;
}

.dark-theme {
  --sage: #4e8e92;
  --snow: #1B1C20;
  --ice: #32343c;
  --fossil: #000000;
  --black: #FFFFFF;
  --drab: #F0F3F4;
}

.Body, .Card__container .Card__abstract, .Card__container .Card__title, .Section__header, .Nav__header {
  font-family: europa, sans-serif;
}

.Nav__header {
  font-size: 24px;
  font-weight: 700;
}

.Section__header {
  font-size: 18px;
  font-weight: 700;
}

.Card__container .Card__title {
  font-size: 15px;
  font-weight: 700;
}

.Card__container .Card__abstract {
  font-size: 15px;
  font-weight: 300;
}

.Body {
  color: var(--drab);
  background-color: var(--snow);
}

.Body_settings {
  min-height: 100vh;
  background-color: var(--ice);
}
.Body_settings .Main__header span {
  color: var(--sage);
}

.text-transparent {
  color: transparent;
}

.bg-transparent {
  background-color: transparent;
}

.b-1-transparent {
  border: 1px solid transparent;
}

.bt-1-transparent {
  border-top: 1px solid transparent;
}

.bb-1-transparent {
  border-bottom: 1px solid transparent;
}

.br-1-transparent {
  border-right: 1px solid transparent;
}

.bl-1-transparent {
  border-left: 1px solid transparent;
}

.b-2-transparent {
  border: 2px solid transparent;
}

.bt-2-transparent {
  border-top: 2px solid transparent;
}

.bb-2-transparent {
  border-bottom: 2px solid transparent;
}

.br-2-transparent {
  border-right: 2px solid transparent;
}

.bl-2-transparent {
  border-left: 2px solid transparent;
}

.b-3-transparent {
  border: 3px solid transparent;
}

.bt-3-transparent {
  border-top: 3px solid transparent;
}

.bb-3-transparent {
  border-bottom: 3px solid transparent;
}

.br-3-transparent {
  border-right: 3px solid transparent;
}

.bl-3-transparent {
  border-left: 3px solid transparent;
}

.b-4-transparent {
  border: 4px solid transparent;
}

.bt-4-transparent {
  border-top: 4px solid transparent;
}

.bb-4-transparent {
  border-bottom: 4px solid transparent;
}

.br-4-transparent {
  border-right: 4px solid transparent;
}

.bl-4-transparent {
  border-left: 4px solid transparent;
}

.b-5-transparent {
  border: 5px solid transparent;
}

.bt-5-transparent {
  border-top: 5px solid transparent;
}

.bb-5-transparent {
  border-bottom: 5px solid transparent;
}

.br-5-transparent {
  border-right: 5px solid transparent;
}

.bl-5-transparent {
  border-left: 5px solid transparent;
}

.b-6-transparent {
  border: 6px solid transparent;
}

.bt-6-transparent {
  border-top: 6px solid transparent;
}

.bb-6-transparent {
  border-bottom: 6px solid transparent;
}

.br-6-transparent {
  border-right: 6px solid transparent;
}

.bl-6-transparent {
  border-left: 6px solid transparent;
}

.b-7-transparent {
  border: 7px solid transparent;
}

.bt-7-transparent {
  border-top: 7px solid transparent;
}

.bb-7-transparent {
  border-bottom: 7px solid transparent;
}

.br-7-transparent {
  border-right: 7px solid transparent;
}

.bl-7-transparent {
  border-left: 7px solid transparent;
}

.b-8-transparent {
  border: 8px solid transparent;
}

.bt-8-transparent {
  border-top: 8px solid transparent;
}

.bb-8-transparent {
  border-bottom: 8px solid transparent;
}

.br-8-transparent {
  border-right: 8px solid transparent;
}

.bl-8-transparent {
  border-left: 8px solid transparent;
}

.b-9-transparent {
  border: 9px solid transparent;
}

.bt-9-transparent {
  border-top: 9px solid transparent;
}

.bb-9-transparent {
  border-bottom: 9px solid transparent;
}

.br-9-transparent {
  border-right: 9px solid transparent;
}

.bl-9-transparent {
  border-left: 9px solid transparent;
}

.b-10-transparent {
  border: 10px solid transparent;
}

.bt-10-transparent {
  border-top: 10px solid transparent;
}

.bb-10-transparent {
  border-bottom: 10px solid transparent;
}

.br-10-transparent {
  border-right: 10px solid transparent;
}

.bl-10-transparent {
  border-left: 10px solid transparent;
}

.text-sage {
  color: #87BCBF;
}

.bg-sage {
  background-color: #87BCBF;
}

.b-1-sage {
  border: 1px solid #87BCBF;
}

.bt-1-sage {
  border-top: 1px solid #87BCBF;
}

.bb-1-sage {
  border-bottom: 1px solid #87BCBF;
}

.br-1-sage {
  border-right: 1px solid #87BCBF;
}

.bl-1-sage {
  border-left: 1px solid #87BCBF;
}

.b-2-sage {
  border: 2px solid #87BCBF;
}

.bt-2-sage {
  border-top: 2px solid #87BCBF;
}

.bb-2-sage {
  border-bottom: 2px solid #87BCBF;
}

.br-2-sage {
  border-right: 2px solid #87BCBF;
}

.bl-2-sage {
  border-left: 2px solid #87BCBF;
}

.b-3-sage {
  border: 3px solid #87BCBF;
}

.bt-3-sage {
  border-top: 3px solid #87BCBF;
}

.bb-3-sage {
  border-bottom: 3px solid #87BCBF;
}

.br-3-sage {
  border-right: 3px solid #87BCBF;
}

.bl-3-sage {
  border-left: 3px solid #87BCBF;
}

.b-4-sage {
  border: 4px solid #87BCBF;
}

.bt-4-sage {
  border-top: 4px solid #87BCBF;
}

.bb-4-sage {
  border-bottom: 4px solid #87BCBF;
}

.br-4-sage {
  border-right: 4px solid #87BCBF;
}

.bl-4-sage {
  border-left: 4px solid #87BCBF;
}

.b-5-sage {
  border: 5px solid #87BCBF;
}

.bt-5-sage {
  border-top: 5px solid #87BCBF;
}

.bb-5-sage {
  border-bottom: 5px solid #87BCBF;
}

.br-5-sage {
  border-right: 5px solid #87BCBF;
}

.bl-5-sage {
  border-left: 5px solid #87BCBF;
}

.b-6-sage {
  border: 6px solid #87BCBF;
}

.bt-6-sage {
  border-top: 6px solid #87BCBF;
}

.bb-6-sage {
  border-bottom: 6px solid #87BCBF;
}

.br-6-sage {
  border-right: 6px solid #87BCBF;
}

.bl-6-sage {
  border-left: 6px solid #87BCBF;
}

.b-7-sage {
  border: 7px solid #87BCBF;
}

.bt-7-sage {
  border-top: 7px solid #87BCBF;
}

.bb-7-sage {
  border-bottom: 7px solid #87BCBF;
}

.br-7-sage {
  border-right: 7px solid #87BCBF;
}

.bl-7-sage {
  border-left: 7px solid #87BCBF;
}

.b-8-sage {
  border: 8px solid #87BCBF;
}

.bt-8-sage {
  border-top: 8px solid #87BCBF;
}

.bb-8-sage {
  border-bottom: 8px solid #87BCBF;
}

.br-8-sage {
  border-right: 8px solid #87BCBF;
}

.bl-8-sage {
  border-left: 8px solid #87BCBF;
}

.b-9-sage {
  border: 9px solid #87BCBF;
}

.bt-9-sage {
  border-top: 9px solid #87BCBF;
}

.bb-9-sage {
  border-bottom: 9px solid #87BCBF;
}

.br-9-sage {
  border-right: 9px solid #87BCBF;
}

.bl-9-sage {
  border-left: 9px solid #87BCBF;
}

.b-10-sage {
  border: 10px solid #87BCBF;
}

.bt-10-sage {
  border-top: 10px solid #87BCBF;
}

.bb-10-sage {
  border-bottom: 10px solid #87BCBF;
}

.br-10-sage {
  border-right: 10px solid #87BCBF;
}

.bl-10-sage {
  border-left: 10px solid #87BCBF;
}

.text-rust {
  color: #D97D54;
}

.bg-rust {
  background-color: #D97D54;
}

.b-1-rust {
  border: 1px solid #D97D54;
}

.bt-1-rust {
  border-top: 1px solid #D97D54;
}

.bb-1-rust {
  border-bottom: 1px solid #D97D54;
}

.br-1-rust {
  border-right: 1px solid #D97D54;
}

.bl-1-rust {
  border-left: 1px solid #D97D54;
}

.b-2-rust {
  border: 2px solid #D97D54;
}

.bt-2-rust {
  border-top: 2px solid #D97D54;
}

.bb-2-rust {
  border-bottom: 2px solid #D97D54;
}

.br-2-rust {
  border-right: 2px solid #D97D54;
}

.bl-2-rust {
  border-left: 2px solid #D97D54;
}

.b-3-rust {
  border: 3px solid #D97D54;
}

.bt-3-rust {
  border-top: 3px solid #D97D54;
}

.bb-3-rust {
  border-bottom: 3px solid #D97D54;
}

.br-3-rust {
  border-right: 3px solid #D97D54;
}

.bl-3-rust {
  border-left: 3px solid #D97D54;
}

.b-4-rust {
  border: 4px solid #D97D54;
}

.bt-4-rust {
  border-top: 4px solid #D97D54;
}

.bb-4-rust {
  border-bottom: 4px solid #D97D54;
}

.br-4-rust {
  border-right: 4px solid #D97D54;
}

.bl-4-rust {
  border-left: 4px solid #D97D54;
}

.b-5-rust {
  border: 5px solid #D97D54;
}

.bt-5-rust {
  border-top: 5px solid #D97D54;
}

.bb-5-rust {
  border-bottom: 5px solid #D97D54;
}

.br-5-rust {
  border-right: 5px solid #D97D54;
}

.bl-5-rust {
  border-left: 5px solid #D97D54;
}

.b-6-rust {
  border: 6px solid #D97D54;
}

.bt-6-rust {
  border-top: 6px solid #D97D54;
}

.bb-6-rust {
  border-bottom: 6px solid #D97D54;
}

.br-6-rust {
  border-right: 6px solid #D97D54;
}

.bl-6-rust {
  border-left: 6px solid #D97D54;
}

.b-7-rust {
  border: 7px solid #D97D54;
}

.bt-7-rust {
  border-top: 7px solid #D97D54;
}

.bb-7-rust {
  border-bottom: 7px solid #D97D54;
}

.br-7-rust {
  border-right: 7px solid #D97D54;
}

.bl-7-rust {
  border-left: 7px solid #D97D54;
}

.b-8-rust {
  border: 8px solid #D97D54;
}

.bt-8-rust {
  border-top: 8px solid #D97D54;
}

.bb-8-rust {
  border-bottom: 8px solid #D97D54;
}

.br-8-rust {
  border-right: 8px solid #D97D54;
}

.bl-8-rust {
  border-left: 8px solid #D97D54;
}

.b-9-rust {
  border: 9px solid #D97D54;
}

.bt-9-rust {
  border-top: 9px solid #D97D54;
}

.bb-9-rust {
  border-bottom: 9px solid #D97D54;
}

.br-9-rust {
  border-right: 9px solid #D97D54;
}

.bl-9-rust {
  border-left: 9px solid #D97D54;
}

.b-10-rust {
  border: 10px solid #D97D54;
}

.bt-10-rust {
  border-top: 10px solid #D97D54;
}

.bb-10-rust {
  border-bottom: 10px solid #D97D54;
}

.br-10-rust {
  border-right: 10px solid #D97D54;
}

.bl-10-rust {
  border-left: 10px solid #D97D54;
}

.text-drab {
  color: #324755;
}

.bg-drab {
  background-color: #324755;
}

.b-1-drab {
  border: 1px solid #324755;
}

.bt-1-drab {
  border-top: 1px solid #324755;
}

.bb-1-drab {
  border-bottom: 1px solid #324755;
}

.br-1-drab {
  border-right: 1px solid #324755;
}

.bl-1-drab {
  border-left: 1px solid #324755;
}

.b-2-drab {
  border: 2px solid #324755;
}

.bt-2-drab {
  border-top: 2px solid #324755;
}

.bb-2-drab {
  border-bottom: 2px solid #324755;
}

.br-2-drab {
  border-right: 2px solid #324755;
}

.bl-2-drab {
  border-left: 2px solid #324755;
}

.b-3-drab {
  border: 3px solid #324755;
}

.bt-3-drab {
  border-top: 3px solid #324755;
}

.bb-3-drab {
  border-bottom: 3px solid #324755;
}

.br-3-drab {
  border-right: 3px solid #324755;
}

.bl-3-drab {
  border-left: 3px solid #324755;
}

.b-4-drab {
  border: 4px solid #324755;
}

.bt-4-drab {
  border-top: 4px solid #324755;
}

.bb-4-drab {
  border-bottom: 4px solid #324755;
}

.br-4-drab {
  border-right: 4px solid #324755;
}

.bl-4-drab {
  border-left: 4px solid #324755;
}

.b-5-drab {
  border: 5px solid #324755;
}

.bt-5-drab {
  border-top: 5px solid #324755;
}

.bb-5-drab {
  border-bottom: 5px solid #324755;
}

.br-5-drab {
  border-right: 5px solid #324755;
}

.bl-5-drab {
  border-left: 5px solid #324755;
}

.b-6-drab {
  border: 6px solid #324755;
}

.bt-6-drab {
  border-top: 6px solid #324755;
}

.bb-6-drab {
  border-bottom: 6px solid #324755;
}

.br-6-drab {
  border-right: 6px solid #324755;
}

.bl-6-drab {
  border-left: 6px solid #324755;
}

.b-7-drab {
  border: 7px solid #324755;
}

.bt-7-drab {
  border-top: 7px solid #324755;
}

.bb-7-drab {
  border-bottom: 7px solid #324755;
}

.br-7-drab {
  border-right: 7px solid #324755;
}

.bl-7-drab {
  border-left: 7px solid #324755;
}

.b-8-drab {
  border: 8px solid #324755;
}

.bt-8-drab {
  border-top: 8px solid #324755;
}

.bb-8-drab {
  border-bottom: 8px solid #324755;
}

.br-8-drab {
  border-right: 8px solid #324755;
}

.bl-8-drab {
  border-left: 8px solid #324755;
}

.b-9-drab {
  border: 9px solid #324755;
}

.bt-9-drab {
  border-top: 9px solid #324755;
}

.bb-9-drab {
  border-bottom: 9px solid #324755;
}

.br-9-drab {
  border-right: 9px solid #324755;
}

.bl-9-drab {
  border-left: 9px solid #324755;
}

.b-10-drab {
  border: 10px solid #324755;
}

.bt-10-drab {
  border-top: 10px solid #324755;
}

.bb-10-drab {
  border-bottom: 10px solid #324755;
}

.br-10-drab {
  border-right: 10px solid #324755;
}

.bl-10-drab {
  border-left: 10px solid #324755;
}

.text-danger {
  color: #D95454;
}

.bg-danger {
  background-color: #D95454;
}

.b-1-danger {
  border: 1px solid #D95454;
}

.bt-1-danger {
  border-top: 1px solid #D95454;
}

.bb-1-danger {
  border-bottom: 1px solid #D95454;
}

.br-1-danger {
  border-right: 1px solid #D95454;
}

.bl-1-danger {
  border-left: 1px solid #D95454;
}

.b-2-danger {
  border: 2px solid #D95454;
}

.bt-2-danger {
  border-top: 2px solid #D95454;
}

.bb-2-danger {
  border-bottom: 2px solid #D95454;
}

.br-2-danger {
  border-right: 2px solid #D95454;
}

.bl-2-danger {
  border-left: 2px solid #D95454;
}

.b-3-danger {
  border: 3px solid #D95454;
}

.bt-3-danger {
  border-top: 3px solid #D95454;
}

.bb-3-danger {
  border-bottom: 3px solid #D95454;
}

.br-3-danger {
  border-right: 3px solid #D95454;
}

.bl-3-danger {
  border-left: 3px solid #D95454;
}

.b-4-danger {
  border: 4px solid #D95454;
}

.bt-4-danger {
  border-top: 4px solid #D95454;
}

.bb-4-danger {
  border-bottom: 4px solid #D95454;
}

.br-4-danger {
  border-right: 4px solid #D95454;
}

.bl-4-danger {
  border-left: 4px solid #D95454;
}

.b-5-danger {
  border: 5px solid #D95454;
}

.bt-5-danger {
  border-top: 5px solid #D95454;
}

.bb-5-danger {
  border-bottom: 5px solid #D95454;
}

.br-5-danger {
  border-right: 5px solid #D95454;
}

.bl-5-danger {
  border-left: 5px solid #D95454;
}

.b-6-danger {
  border: 6px solid #D95454;
}

.bt-6-danger {
  border-top: 6px solid #D95454;
}

.bb-6-danger {
  border-bottom: 6px solid #D95454;
}

.br-6-danger {
  border-right: 6px solid #D95454;
}

.bl-6-danger {
  border-left: 6px solid #D95454;
}

.b-7-danger {
  border: 7px solid #D95454;
}

.bt-7-danger {
  border-top: 7px solid #D95454;
}

.bb-7-danger {
  border-bottom: 7px solid #D95454;
}

.br-7-danger {
  border-right: 7px solid #D95454;
}

.bl-7-danger {
  border-left: 7px solid #D95454;
}

.b-8-danger {
  border: 8px solid #D95454;
}

.bt-8-danger {
  border-top: 8px solid #D95454;
}

.bb-8-danger {
  border-bottom: 8px solid #D95454;
}

.br-8-danger {
  border-right: 8px solid #D95454;
}

.bl-8-danger {
  border-left: 8px solid #D95454;
}

.b-9-danger {
  border: 9px solid #D95454;
}

.bt-9-danger {
  border-top: 9px solid #D95454;
}

.bb-9-danger {
  border-bottom: 9px solid #D95454;
}

.br-9-danger {
  border-right: 9px solid #D95454;
}

.bl-9-danger {
  border-left: 9px solid #D95454;
}

.b-10-danger {
  border: 10px solid #D95454;
}

.bt-10-danger {
  border-top: 10px solid #D95454;
}

.bb-10-danger {
  border-bottom: 10px solid #D95454;
}

.br-10-danger {
  border-right: 10px solid #D95454;
}

.bl-10-danger {
  border-left: 10px solid #D95454;
}

.text-ice {
  color: #F0F3F4;
}

.bg-ice {
  background-color: #F0F3F4;
}

.b-1-ice {
  border: 1px solid #F0F3F4;
}

.bt-1-ice {
  border-top: 1px solid #F0F3F4;
}

.bb-1-ice {
  border-bottom: 1px solid #F0F3F4;
}

.br-1-ice {
  border-right: 1px solid #F0F3F4;
}

.bl-1-ice {
  border-left: 1px solid #F0F3F4;
}

.b-2-ice {
  border: 2px solid #F0F3F4;
}

.bt-2-ice {
  border-top: 2px solid #F0F3F4;
}

.bb-2-ice {
  border-bottom: 2px solid #F0F3F4;
}

.br-2-ice {
  border-right: 2px solid #F0F3F4;
}

.bl-2-ice {
  border-left: 2px solid #F0F3F4;
}

.b-3-ice {
  border: 3px solid #F0F3F4;
}

.bt-3-ice {
  border-top: 3px solid #F0F3F4;
}

.bb-3-ice {
  border-bottom: 3px solid #F0F3F4;
}

.br-3-ice {
  border-right: 3px solid #F0F3F4;
}

.bl-3-ice {
  border-left: 3px solid #F0F3F4;
}

.b-4-ice {
  border: 4px solid #F0F3F4;
}

.bt-4-ice {
  border-top: 4px solid #F0F3F4;
}

.bb-4-ice {
  border-bottom: 4px solid #F0F3F4;
}

.br-4-ice {
  border-right: 4px solid #F0F3F4;
}

.bl-4-ice {
  border-left: 4px solid #F0F3F4;
}

.b-5-ice {
  border: 5px solid #F0F3F4;
}

.bt-5-ice {
  border-top: 5px solid #F0F3F4;
}

.bb-5-ice {
  border-bottom: 5px solid #F0F3F4;
}

.br-5-ice {
  border-right: 5px solid #F0F3F4;
}

.bl-5-ice {
  border-left: 5px solid #F0F3F4;
}

.b-6-ice {
  border: 6px solid #F0F3F4;
}

.bt-6-ice {
  border-top: 6px solid #F0F3F4;
}

.bb-6-ice {
  border-bottom: 6px solid #F0F3F4;
}

.br-6-ice {
  border-right: 6px solid #F0F3F4;
}

.bl-6-ice {
  border-left: 6px solid #F0F3F4;
}

.b-7-ice {
  border: 7px solid #F0F3F4;
}

.bt-7-ice {
  border-top: 7px solid #F0F3F4;
}

.bb-7-ice {
  border-bottom: 7px solid #F0F3F4;
}

.br-7-ice {
  border-right: 7px solid #F0F3F4;
}

.bl-7-ice {
  border-left: 7px solid #F0F3F4;
}

.b-8-ice {
  border: 8px solid #F0F3F4;
}

.bt-8-ice {
  border-top: 8px solid #F0F3F4;
}

.bb-8-ice {
  border-bottom: 8px solid #F0F3F4;
}

.br-8-ice {
  border-right: 8px solid #F0F3F4;
}

.bl-8-ice {
  border-left: 8px solid #F0F3F4;
}

.b-9-ice {
  border: 9px solid #F0F3F4;
}

.bt-9-ice {
  border-top: 9px solid #F0F3F4;
}

.bb-9-ice {
  border-bottom: 9px solid #F0F3F4;
}

.br-9-ice {
  border-right: 9px solid #F0F3F4;
}

.bl-9-ice {
  border-left: 9px solid #F0F3F4;
}

.b-10-ice {
  border: 10px solid #F0F3F4;
}

.bt-10-ice {
  border-top: 10px solid #F0F3F4;
}

.bb-10-ice {
  border-bottom: 10px solid #F0F3F4;
}

.br-10-ice {
  border-right: 10px solid #F0F3F4;
}

.bl-10-ice {
  border-left: 10px solid #F0F3F4;
}

.text-fossil {
  color: #C8D1D3;
}

.bg-fossil {
  background-color: #C8D1D3;
}

.b-1-fossil {
  border: 1px solid #C8D1D3;
}

.bt-1-fossil {
  border-top: 1px solid #C8D1D3;
}

.bb-1-fossil {
  border-bottom: 1px solid #C8D1D3;
}

.br-1-fossil {
  border-right: 1px solid #C8D1D3;
}

.bl-1-fossil {
  border-left: 1px solid #C8D1D3;
}

.b-2-fossil {
  border: 2px solid #C8D1D3;
}

.bt-2-fossil {
  border-top: 2px solid #C8D1D3;
}

.bb-2-fossil {
  border-bottom: 2px solid #C8D1D3;
}

.br-2-fossil {
  border-right: 2px solid #C8D1D3;
}

.bl-2-fossil {
  border-left: 2px solid #C8D1D3;
}

.b-3-fossil {
  border: 3px solid #C8D1D3;
}

.bt-3-fossil {
  border-top: 3px solid #C8D1D3;
}

.bb-3-fossil {
  border-bottom: 3px solid #C8D1D3;
}

.br-3-fossil {
  border-right: 3px solid #C8D1D3;
}

.bl-3-fossil {
  border-left: 3px solid #C8D1D3;
}

.b-4-fossil {
  border: 4px solid #C8D1D3;
}

.bt-4-fossil {
  border-top: 4px solid #C8D1D3;
}

.bb-4-fossil {
  border-bottom: 4px solid #C8D1D3;
}

.br-4-fossil {
  border-right: 4px solid #C8D1D3;
}

.bl-4-fossil {
  border-left: 4px solid #C8D1D3;
}

.b-5-fossil {
  border: 5px solid #C8D1D3;
}

.bt-5-fossil {
  border-top: 5px solid #C8D1D3;
}

.bb-5-fossil {
  border-bottom: 5px solid #C8D1D3;
}

.br-5-fossil {
  border-right: 5px solid #C8D1D3;
}

.bl-5-fossil {
  border-left: 5px solid #C8D1D3;
}

.b-6-fossil {
  border: 6px solid #C8D1D3;
}

.bt-6-fossil {
  border-top: 6px solid #C8D1D3;
}

.bb-6-fossil {
  border-bottom: 6px solid #C8D1D3;
}

.br-6-fossil {
  border-right: 6px solid #C8D1D3;
}

.bl-6-fossil {
  border-left: 6px solid #C8D1D3;
}

.b-7-fossil {
  border: 7px solid #C8D1D3;
}

.bt-7-fossil {
  border-top: 7px solid #C8D1D3;
}

.bb-7-fossil {
  border-bottom: 7px solid #C8D1D3;
}

.br-7-fossil {
  border-right: 7px solid #C8D1D3;
}

.bl-7-fossil {
  border-left: 7px solid #C8D1D3;
}

.b-8-fossil {
  border: 8px solid #C8D1D3;
}

.bt-8-fossil {
  border-top: 8px solid #C8D1D3;
}

.bb-8-fossil {
  border-bottom: 8px solid #C8D1D3;
}

.br-8-fossil {
  border-right: 8px solid #C8D1D3;
}

.bl-8-fossil {
  border-left: 8px solid #C8D1D3;
}

.b-9-fossil {
  border: 9px solid #C8D1D3;
}

.bt-9-fossil {
  border-top: 9px solid #C8D1D3;
}

.bb-9-fossil {
  border-bottom: 9px solid #C8D1D3;
}

.br-9-fossil {
  border-right: 9px solid #C8D1D3;
}

.bl-9-fossil {
  border-left: 9px solid #C8D1D3;
}

.b-10-fossil {
  border: 10px solid #C8D1D3;
}

.bt-10-fossil {
  border-top: 10px solid #C8D1D3;
}

.bb-10-fossil {
  border-bottom: 10px solid #C8D1D3;
}

.br-10-fossil {
  border-right: 10px solid #C8D1D3;
}

.bl-10-fossil {
  border-left: 10px solid #C8D1D3;
}

.text-sand {
  color: #B9B0A2;
}

.bg-sand {
  background-color: #B9B0A2;
}

.b-1-sand {
  border: 1px solid #B9B0A2;
}

.bt-1-sand {
  border-top: 1px solid #B9B0A2;
}

.bb-1-sand {
  border-bottom: 1px solid #B9B0A2;
}

.br-1-sand {
  border-right: 1px solid #B9B0A2;
}

.bl-1-sand {
  border-left: 1px solid #B9B0A2;
}

.b-2-sand {
  border: 2px solid #B9B0A2;
}

.bt-2-sand {
  border-top: 2px solid #B9B0A2;
}

.bb-2-sand {
  border-bottom: 2px solid #B9B0A2;
}

.br-2-sand {
  border-right: 2px solid #B9B0A2;
}

.bl-2-sand {
  border-left: 2px solid #B9B0A2;
}

.b-3-sand {
  border: 3px solid #B9B0A2;
}

.bt-3-sand {
  border-top: 3px solid #B9B0A2;
}

.bb-3-sand {
  border-bottom: 3px solid #B9B0A2;
}

.br-3-sand {
  border-right: 3px solid #B9B0A2;
}

.bl-3-sand {
  border-left: 3px solid #B9B0A2;
}

.b-4-sand {
  border: 4px solid #B9B0A2;
}

.bt-4-sand {
  border-top: 4px solid #B9B0A2;
}

.bb-4-sand {
  border-bottom: 4px solid #B9B0A2;
}

.br-4-sand {
  border-right: 4px solid #B9B0A2;
}

.bl-4-sand {
  border-left: 4px solid #B9B0A2;
}

.b-5-sand {
  border: 5px solid #B9B0A2;
}

.bt-5-sand {
  border-top: 5px solid #B9B0A2;
}

.bb-5-sand {
  border-bottom: 5px solid #B9B0A2;
}

.br-5-sand {
  border-right: 5px solid #B9B0A2;
}

.bl-5-sand {
  border-left: 5px solid #B9B0A2;
}

.b-6-sand {
  border: 6px solid #B9B0A2;
}

.bt-6-sand {
  border-top: 6px solid #B9B0A2;
}

.bb-6-sand {
  border-bottom: 6px solid #B9B0A2;
}

.br-6-sand {
  border-right: 6px solid #B9B0A2;
}

.bl-6-sand {
  border-left: 6px solid #B9B0A2;
}

.b-7-sand {
  border: 7px solid #B9B0A2;
}

.bt-7-sand {
  border-top: 7px solid #B9B0A2;
}

.bb-7-sand {
  border-bottom: 7px solid #B9B0A2;
}

.br-7-sand {
  border-right: 7px solid #B9B0A2;
}

.bl-7-sand {
  border-left: 7px solid #B9B0A2;
}

.b-8-sand {
  border: 8px solid #B9B0A2;
}

.bt-8-sand {
  border-top: 8px solid #B9B0A2;
}

.bb-8-sand {
  border-bottom: 8px solid #B9B0A2;
}

.br-8-sand {
  border-right: 8px solid #B9B0A2;
}

.bl-8-sand {
  border-left: 8px solid #B9B0A2;
}

.b-9-sand {
  border: 9px solid #B9B0A2;
}

.bt-9-sand {
  border-top: 9px solid #B9B0A2;
}

.bb-9-sand {
  border-bottom: 9px solid #B9B0A2;
}

.br-9-sand {
  border-right: 9px solid #B9B0A2;
}

.bl-9-sand {
  border-left: 9px solid #B9B0A2;
}

.b-10-sand {
  border: 10px solid #B9B0A2;
}

.bt-10-sand {
  border-top: 10px solid #B9B0A2;
}

.bb-10-sand {
  border-bottom: 10px solid #B9B0A2;
}

.br-10-sand {
  border-right: 10px solid #B9B0A2;
}

.bl-10-sand {
  border-left: 10px solid #B9B0A2;
}

.text-onyx {
  color: #1B1C20;
}

.bg-onyx {
  background-color: #1B1C20;
}

.b-1-onyx {
  border: 1px solid #1B1C20;
}

.bt-1-onyx {
  border-top: 1px solid #1B1C20;
}

.bb-1-onyx {
  border-bottom: 1px solid #1B1C20;
}

.br-1-onyx {
  border-right: 1px solid #1B1C20;
}

.bl-1-onyx {
  border-left: 1px solid #1B1C20;
}

.b-2-onyx {
  border: 2px solid #1B1C20;
}

.bt-2-onyx {
  border-top: 2px solid #1B1C20;
}

.bb-2-onyx {
  border-bottom: 2px solid #1B1C20;
}

.br-2-onyx {
  border-right: 2px solid #1B1C20;
}

.bl-2-onyx {
  border-left: 2px solid #1B1C20;
}

.b-3-onyx {
  border: 3px solid #1B1C20;
}

.bt-3-onyx {
  border-top: 3px solid #1B1C20;
}

.bb-3-onyx {
  border-bottom: 3px solid #1B1C20;
}

.br-3-onyx {
  border-right: 3px solid #1B1C20;
}

.bl-3-onyx {
  border-left: 3px solid #1B1C20;
}

.b-4-onyx {
  border: 4px solid #1B1C20;
}

.bt-4-onyx {
  border-top: 4px solid #1B1C20;
}

.bb-4-onyx {
  border-bottom: 4px solid #1B1C20;
}

.br-4-onyx {
  border-right: 4px solid #1B1C20;
}

.bl-4-onyx {
  border-left: 4px solid #1B1C20;
}

.b-5-onyx {
  border: 5px solid #1B1C20;
}

.bt-5-onyx {
  border-top: 5px solid #1B1C20;
}

.bb-5-onyx {
  border-bottom: 5px solid #1B1C20;
}

.br-5-onyx {
  border-right: 5px solid #1B1C20;
}

.bl-5-onyx {
  border-left: 5px solid #1B1C20;
}

.b-6-onyx {
  border: 6px solid #1B1C20;
}

.bt-6-onyx {
  border-top: 6px solid #1B1C20;
}

.bb-6-onyx {
  border-bottom: 6px solid #1B1C20;
}

.br-6-onyx {
  border-right: 6px solid #1B1C20;
}

.bl-6-onyx {
  border-left: 6px solid #1B1C20;
}

.b-7-onyx {
  border: 7px solid #1B1C20;
}

.bt-7-onyx {
  border-top: 7px solid #1B1C20;
}

.bb-7-onyx {
  border-bottom: 7px solid #1B1C20;
}

.br-7-onyx {
  border-right: 7px solid #1B1C20;
}

.bl-7-onyx {
  border-left: 7px solid #1B1C20;
}

.b-8-onyx {
  border: 8px solid #1B1C20;
}

.bt-8-onyx {
  border-top: 8px solid #1B1C20;
}

.bb-8-onyx {
  border-bottom: 8px solid #1B1C20;
}

.br-8-onyx {
  border-right: 8px solid #1B1C20;
}

.bl-8-onyx {
  border-left: 8px solid #1B1C20;
}

.b-9-onyx {
  border: 9px solid #1B1C20;
}

.bt-9-onyx {
  border-top: 9px solid #1B1C20;
}

.bb-9-onyx {
  border-bottom: 9px solid #1B1C20;
}

.br-9-onyx {
  border-right: 9px solid #1B1C20;
}

.bl-9-onyx {
  border-left: 9px solid #1B1C20;
}

.b-10-onyx {
  border: 10px solid #1B1C20;
}

.bt-10-onyx {
  border-top: 10px solid #1B1C20;
}

.bb-10-onyx {
  border-bottom: 10px solid #1B1C20;
}

.br-10-onyx {
  border-right: 10px solid #1B1C20;
}

.bl-10-onyx {
  border-left: 10px solid #1B1C20;
}

.text-slate {
  color: #6E8CA0;
}

.bg-slate {
  background-color: #6E8CA0;
}

.b-1-slate {
  border: 1px solid #6E8CA0;
}

.bt-1-slate {
  border-top: 1px solid #6E8CA0;
}

.bb-1-slate {
  border-bottom: 1px solid #6E8CA0;
}

.br-1-slate {
  border-right: 1px solid #6E8CA0;
}

.bl-1-slate {
  border-left: 1px solid #6E8CA0;
}

.b-2-slate {
  border: 2px solid #6E8CA0;
}

.bt-2-slate {
  border-top: 2px solid #6E8CA0;
}

.bb-2-slate {
  border-bottom: 2px solid #6E8CA0;
}

.br-2-slate {
  border-right: 2px solid #6E8CA0;
}

.bl-2-slate {
  border-left: 2px solid #6E8CA0;
}

.b-3-slate {
  border: 3px solid #6E8CA0;
}

.bt-3-slate {
  border-top: 3px solid #6E8CA0;
}

.bb-3-slate {
  border-bottom: 3px solid #6E8CA0;
}

.br-3-slate {
  border-right: 3px solid #6E8CA0;
}

.bl-3-slate {
  border-left: 3px solid #6E8CA0;
}

.b-4-slate {
  border: 4px solid #6E8CA0;
}

.bt-4-slate {
  border-top: 4px solid #6E8CA0;
}

.bb-4-slate {
  border-bottom: 4px solid #6E8CA0;
}

.br-4-slate {
  border-right: 4px solid #6E8CA0;
}

.bl-4-slate {
  border-left: 4px solid #6E8CA0;
}

.b-5-slate {
  border: 5px solid #6E8CA0;
}

.bt-5-slate {
  border-top: 5px solid #6E8CA0;
}

.bb-5-slate {
  border-bottom: 5px solid #6E8CA0;
}

.br-5-slate {
  border-right: 5px solid #6E8CA0;
}

.bl-5-slate {
  border-left: 5px solid #6E8CA0;
}

.b-6-slate {
  border: 6px solid #6E8CA0;
}

.bt-6-slate {
  border-top: 6px solid #6E8CA0;
}

.bb-6-slate {
  border-bottom: 6px solid #6E8CA0;
}

.br-6-slate {
  border-right: 6px solid #6E8CA0;
}

.bl-6-slate {
  border-left: 6px solid #6E8CA0;
}

.b-7-slate {
  border: 7px solid #6E8CA0;
}

.bt-7-slate {
  border-top: 7px solid #6E8CA0;
}

.bb-7-slate {
  border-bottom: 7px solid #6E8CA0;
}

.br-7-slate {
  border-right: 7px solid #6E8CA0;
}

.bl-7-slate {
  border-left: 7px solid #6E8CA0;
}

.b-8-slate {
  border: 8px solid #6E8CA0;
}

.bt-8-slate {
  border-top: 8px solid #6E8CA0;
}

.bb-8-slate {
  border-bottom: 8px solid #6E8CA0;
}

.br-8-slate {
  border-right: 8px solid #6E8CA0;
}

.bl-8-slate {
  border-left: 8px solid #6E8CA0;
}

.b-9-slate {
  border: 9px solid #6E8CA0;
}

.bt-9-slate {
  border-top: 9px solid #6E8CA0;
}

.bb-9-slate {
  border-bottom: 9px solid #6E8CA0;
}

.br-9-slate {
  border-right: 9px solid #6E8CA0;
}

.bl-9-slate {
  border-left: 9px solid #6E8CA0;
}

.b-10-slate {
  border: 10px solid #6E8CA0;
}

.bt-10-slate {
  border-top: 10px solid #6E8CA0;
}

.bb-10-slate {
  border-bottom: 10px solid #6E8CA0;
}

.br-10-slate {
  border-right: 10px solid #6E8CA0;
}

.bl-10-slate {
  border-left: 10px solid #6E8CA0;
}

.text-snow {
  color: #FFFFFF;
}

.bg-snow {
  background-color: #FFFFFF;
}

.b-1-snow {
  border: 1px solid #FFFFFF;
}

.bt-1-snow {
  border-top: 1px solid #FFFFFF;
}

.bb-1-snow {
  border-bottom: 1px solid #FFFFFF;
}

.br-1-snow {
  border-right: 1px solid #FFFFFF;
}

.bl-1-snow {
  border-left: 1px solid #FFFFFF;
}

.b-2-snow {
  border: 2px solid #FFFFFF;
}

.bt-2-snow {
  border-top: 2px solid #FFFFFF;
}

.bb-2-snow {
  border-bottom: 2px solid #FFFFFF;
}

.br-2-snow {
  border-right: 2px solid #FFFFFF;
}

.bl-2-snow {
  border-left: 2px solid #FFFFFF;
}

.b-3-snow {
  border: 3px solid #FFFFFF;
}

.bt-3-snow {
  border-top: 3px solid #FFFFFF;
}

.bb-3-snow {
  border-bottom: 3px solid #FFFFFF;
}

.br-3-snow {
  border-right: 3px solid #FFFFFF;
}

.bl-3-snow {
  border-left: 3px solid #FFFFFF;
}

.b-4-snow {
  border: 4px solid #FFFFFF;
}

.bt-4-snow {
  border-top: 4px solid #FFFFFF;
}

.bb-4-snow {
  border-bottom: 4px solid #FFFFFF;
}

.br-4-snow {
  border-right: 4px solid #FFFFFF;
}

.bl-4-snow {
  border-left: 4px solid #FFFFFF;
}

.b-5-snow {
  border: 5px solid #FFFFFF;
}

.bt-5-snow {
  border-top: 5px solid #FFFFFF;
}

.bb-5-snow {
  border-bottom: 5px solid #FFFFFF;
}

.br-5-snow {
  border-right: 5px solid #FFFFFF;
}

.bl-5-snow {
  border-left: 5px solid #FFFFFF;
}

.b-6-snow {
  border: 6px solid #FFFFFF;
}

.bt-6-snow {
  border-top: 6px solid #FFFFFF;
}

.bb-6-snow {
  border-bottom: 6px solid #FFFFFF;
}

.br-6-snow {
  border-right: 6px solid #FFFFFF;
}

.bl-6-snow {
  border-left: 6px solid #FFFFFF;
}

.b-7-snow {
  border: 7px solid #FFFFFF;
}

.bt-7-snow {
  border-top: 7px solid #FFFFFF;
}

.bb-7-snow {
  border-bottom: 7px solid #FFFFFF;
}

.br-7-snow {
  border-right: 7px solid #FFFFFF;
}

.bl-7-snow {
  border-left: 7px solid #FFFFFF;
}

.b-8-snow {
  border: 8px solid #FFFFFF;
}

.bt-8-snow {
  border-top: 8px solid #FFFFFF;
}

.bb-8-snow {
  border-bottom: 8px solid #FFFFFF;
}

.br-8-snow {
  border-right: 8px solid #FFFFFF;
}

.bl-8-snow {
  border-left: 8px solid #FFFFFF;
}

.b-9-snow {
  border: 9px solid #FFFFFF;
}

.bt-9-snow {
  border-top: 9px solid #FFFFFF;
}

.bb-9-snow {
  border-bottom: 9px solid #FFFFFF;
}

.br-9-snow {
  border-right: 9px solid #FFFFFF;
}

.bl-9-snow {
  border-left: 9px solid #FFFFFF;
}

.b-10-snow {
  border: 10px solid #FFFFFF;
}

.bt-10-snow {
  border-top: 10px solid #FFFFFF;
}

.bb-10-snow {
  border-bottom: 10px solid #FFFFFF;
}

.br-10-snow {
  border-right: 10px solid #FFFFFF;
}

.bl-10-snow {
  border-left: 10px solid #FFFFFF;
}

.text-black {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

.b-1-black {
  border: 1px solid #000000;
}

.bt-1-black {
  border-top: 1px solid #000000;
}

.bb-1-black {
  border-bottom: 1px solid #000000;
}

.br-1-black {
  border-right: 1px solid #000000;
}

.bl-1-black {
  border-left: 1px solid #000000;
}

.b-2-black {
  border: 2px solid #000000;
}

.bt-2-black {
  border-top: 2px solid #000000;
}

.bb-2-black {
  border-bottom: 2px solid #000000;
}

.br-2-black {
  border-right: 2px solid #000000;
}

.bl-2-black {
  border-left: 2px solid #000000;
}

.b-3-black {
  border: 3px solid #000000;
}

.bt-3-black {
  border-top: 3px solid #000000;
}

.bb-3-black {
  border-bottom: 3px solid #000000;
}

.br-3-black {
  border-right: 3px solid #000000;
}

.bl-3-black {
  border-left: 3px solid #000000;
}

.b-4-black {
  border: 4px solid #000000;
}

.bt-4-black {
  border-top: 4px solid #000000;
}

.bb-4-black {
  border-bottom: 4px solid #000000;
}

.br-4-black {
  border-right: 4px solid #000000;
}

.bl-4-black {
  border-left: 4px solid #000000;
}

.b-5-black {
  border: 5px solid #000000;
}

.bt-5-black {
  border-top: 5px solid #000000;
}

.bb-5-black {
  border-bottom: 5px solid #000000;
}

.br-5-black {
  border-right: 5px solid #000000;
}

.bl-5-black {
  border-left: 5px solid #000000;
}

.b-6-black {
  border: 6px solid #000000;
}

.bt-6-black {
  border-top: 6px solid #000000;
}

.bb-6-black {
  border-bottom: 6px solid #000000;
}

.br-6-black {
  border-right: 6px solid #000000;
}

.bl-6-black {
  border-left: 6px solid #000000;
}

.b-7-black {
  border: 7px solid #000000;
}

.bt-7-black {
  border-top: 7px solid #000000;
}

.bb-7-black {
  border-bottom: 7px solid #000000;
}

.br-7-black {
  border-right: 7px solid #000000;
}

.bl-7-black {
  border-left: 7px solid #000000;
}

.b-8-black {
  border: 8px solid #000000;
}

.bt-8-black {
  border-top: 8px solid #000000;
}

.bb-8-black {
  border-bottom: 8px solid #000000;
}

.br-8-black {
  border-right: 8px solid #000000;
}

.bl-8-black {
  border-left: 8px solid #000000;
}

.b-9-black {
  border: 9px solid #000000;
}

.bt-9-black {
  border-top: 9px solid #000000;
}

.bb-9-black {
  border-bottom: 9px solid #000000;
}

.br-9-black {
  border-right: 9px solid #000000;
}

.bl-9-black {
  border-left: 9px solid #000000;
}

.b-10-black {
  border: 10px solid #000000;
}

.bt-10-black {
  border-top: 10px solid #000000;
}

.bb-10-black {
  border-bottom: 10px solid #000000;
}

.br-10-black {
  border-right: 10px solid #000000;
}

.bl-10-black {
  border-left: 10px solid #000000;
}

.font-europa {
  font-family: europa, sans-serif;
}

.font-rift-soft {
  font-family: rift-soft, sans-serif;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

.z-index-6 {
  z-index: 6;
}

.z-index-7 {
  z-index: 7;
}

.z-index-8 {
  z-index: 8;
}

.z-index-9 {
  z-index: 9;
}

.z-index-10 {
  z-index: 10;
}

.z-index-11 {
  z-index: 11;
}

.z-index-12 {
  z-index: 12;
}

.z-index-13 {
  z-index: 13;
}

.z-index-14 {
  z-index: 14;
}

.z-index-15 {
  z-index: 15;
}

.z-index-16 {
  z-index: 16;
}

.z-index-17 {
  z-index: 17;
}

.z-index-18 {
  z-index: 18;
}

.z-index-19 {
  z-index: 19;
}

.z-index-20 {
  z-index: 20;
}

.z-index-21 {
  z-index: 21;
}

.z-index-22 {
  z-index: 22;
}

.z-index-23 {
  z-index: 23;
}

.z-index-24 {
  z-index: 24;
}

.z-index-25 {
  z-index: 25;
}

.z-index-26 {
  z-index: 26;
}

.z-index-27 {
  z-index: 27;
}

.z-index-28 {
  z-index: 28;
}

.z-index-29 {
  z-index: 29;
}

.z-index-30 {
  z-index: 30;
}

.z-index-31 {
  z-index: 31;
}

.z-index-32 {
  z-index: 32;
}

.z-index-33 {
  z-index: 33;
}

.z-index-34 {
  z-index: 34;
}

.z-index-35 {
  z-index: 35;
}

.z-index-36 {
  z-index: 36;
}

.z-index-37 {
  z-index: 37;
}

.z-index-38 {
  z-index: 38;
}

.z-index-39 {
  z-index: 39;
}

.z-index-40 {
  z-index: 40;
}

.z-index-41 {
  z-index: 41;
}

.z-index-42 {
  z-index: 42;
}

.z-index-43 {
  z-index: 43;
}

.z-index-44 {
  z-index: 44;
}

.z-index-45 {
  z-index: 45;
}

.z-index-46 {
  z-index: 46;
}

.z-index-47 {
  z-index: 47;
}

.z-index-48 {
  z-index: 48;
}

.z-index-49 {
  z-index: 49;
}

.z-index-50 {
  z-index: 50;
}

.z-index-51 {
  z-index: 51;
}

.z-index-52 {
  z-index: 52;
}

.z-index-53 {
  z-index: 53;
}

.z-index-54 {
  z-index: 54;
}

.z-index-55 {
  z-index: 55;
}

.z-index-56 {
  z-index: 56;
}

.z-index-57 {
  z-index: 57;
}

.z-index-58 {
  z-index: 58;
}

.z-index-59 {
  z-index: 59;
}

.z-index-60 {
  z-index: 60;
}

.z-index-61 {
  z-index: 61;
}

.z-index-62 {
  z-index: 62;
}

.z-index-63 {
  z-index: 63;
}

.z-index-64 {
  z-index: 64;
}

.z-index-65 {
  z-index: 65;
}

.z-index-66 {
  z-index: 66;
}

.z-index-67 {
  z-index: 67;
}

.z-index-68 {
  z-index: 68;
}

.z-index-69 {
  z-index: 69;
}

.z-index-70 {
  z-index: 70;
}

.z-index-71 {
  z-index: 71;
}

.z-index-72 {
  z-index: 72;
}

.z-index-73 {
  z-index: 73;
}

.z-index-74 {
  z-index: 74;
}

.z-index-75 {
  z-index: 75;
}

.z-index-76 {
  z-index: 76;
}

.z-index-77 {
  z-index: 77;
}

.z-index-78 {
  z-index: 78;
}

.z-index-79 {
  z-index: 79;
}

.z-index-80 {
  z-index: 80;
}

.z-index-81 {
  z-index: 81;
}

.z-index-82 {
  z-index: 82;
}

.z-index-83 {
  z-index: 83;
}

.z-index-84 {
  z-index: 84;
}

.z-index-85 {
  z-index: 85;
}

.z-index-86 {
  z-index: 86;
}

.z-index-87 {
  z-index: 87;
}

.z-index-88 {
  z-index: 88;
}

.z-index-89 {
  z-index: 89;
}

.z-index-90 {
  z-index: 90;
}

.z-index-91 {
  z-index: 91;
}

.z-index-92 {
  z-index: 92;
}

.z-index-93 {
  z-index: 93;
}

.z-index-94 {
  z-index: 94;
}

.z-index-95 {
  z-index: 95;
}

.z-index-96 {
  z-index: 96;
}

.z-index-97 {
  z-index: 97;
}

.z-index-98 {
  z-index: 98;
}

.z-index-99 {
  z-index: 99;
}

.z-index-100 {
  z-index: 100;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 20px;
}

.p-4 {
  padding: 30px;
}

.p-5 {
  padding: 40px;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 20px;
}

.pr-4 {
  padding-right: 30px;
}

.pr-5 {
  padding-right: 40px;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 20px;
}

.pl-4 {
  padding-left: 30px;
}

.pl-5 {
  padding-left: 40px;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 20px;
}

.pt-4 {
  padding-top: 30px;
}

.pt-5 {
  padding-top: 40px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 20px;
}

.pb-4 {
  padding-bottom: 30px;
}

.pb-5 {
  padding-bottom: 40px;
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 20px;
}

.m-4 {
  margin: 30px;
}

.m-5 {
  margin: 40px;
}

.ml-auto {
  margin-left: auto;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 20px;
}

.ml-4 {
  margin-left: 30px;
}

.ml-5 {
  margin-left: 40px;
}

.mr-auto {
  margin-right: auto;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 20px;
}

.mr-4 {
  margin-right: 30px;
}

.mr-5 {
  margin-right: 40px;
}

.mt-auto {
  margin-top: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 30px;
}

.mt-5 {
  margin-top: 40px;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 30px;
}

.mb-5 {
  margin-bottom: 40px;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.d-i {
  display: inline;
}

.d-i-b {
  display: inline-block;
}

.d-f {
  display: flex;
}

.d-g {
  display: grid;
}

.o-0 {
  opacity: 0;
}

.o-1 {
  opacity: 0.1;
}

.o-2 {
  opacity: 0.2;
}

.o-3 {
  opacity: 0.3;
}

.o-4 {
  opacity: 0.4;
}

.o-5 {
  opacity: 0.5;
}

.o-6 {
  opacity: 0.6;
}

.o-7 {
  opacity: 0.7;
}

.o-8 {
  opacity: 0.8;
}

.o-9 {
  opacity: 0.9;
}

.o-10 {
  opacity: 1;
}

.fs {
  font-size: 15px;
}

.fs-xs {
  font-size: 7.5px;
}

.fs-s {
  font-size: 10px;
}

.fs-l {
  font-size: 22.5px;
}

.fs-xl {
  font-size: 30px;
}

.fs-xxl {
  font-size: 45px;
}

.fw-x-l {
  font-weight: 200;
}

.fw-l {
  font-weight: 300;
}

.fw-n {
  font-weight: 400;
}

.fw-m {
  font-weight: 500;
}

.fw-m-b {
  font-weight: 600;
}

.fw-b {
  font-weight: 700;
}

.fw-x-b {
  font-weight: 800;
}

.fw-xx-b {
  font-weight: 900;
}

.br {
  border-radius: 4px;
}

.br-1 {
  border-radius: 6px;
}

.br-2 {
  border-radius: 8px;
}

.br-3 {
  border-radius: 12px;
}

.br-4 {
  border-radius: 14px;
}

.br-5 {
  border-radius: 16px;
}

.br-6 {
  border-radius: 18px;
}

.br-full {
  border-radius: 50%;
}

.ai-start {
  align-items: start;
}

.ai-end {
  align-items: end;
}

.ai-flex-start {
  align-items: flex-start;
}

.ai-flex-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

.as-start {
  align-self: start;
}

.as-end {
  align-self: end;
}

.as-flex-start {
  align-self: flex-start;
}

.as-flex-end {
  align-self: flex-end;
}

.as-center {
  align-self: center;
}

.jc-start {
  justify-content: start;
}

.jc-end {
  justify-content: end;
}

.jc-flex-start {
  justify-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.js-start {
  justify-self: start;
}

.js-end {
  justify-self: end;
}

.js-flex-start {
  justify-self: flex-start;
}

.js-flex-end {
  justify-self: flex-end;
}

.js-center {
  justify-self: center;
}

.js-space-between {
  justify-self: space-between;
}

.js-space-around {
  justify-self: space-around;
}

.js-space-evenly {
  justify-self: space-evenly;
}

.of {
  overflow: auto;
}

.of-hidden {
  overflow: hidden;
}

.of-scroll {
  overflow: scroll;
}

.of-auto {
  overflow: auto;
}

.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 5px;
}

.gap-2 {
  gap: 7.5px;
}

.gap-3 {
  gap: 10px;
}

.gap-4 {
  gap: 12.5px;
}

.gap-5 {
  gap: 15px;
}

.w-auto {
  width: auto;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.h-auto {
  height: auto;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-30 {
  height: 30%;
}

.h-40 {
  height: 40%;
}

.h-50 {
  height: 50%;
}

.h-60 {
  height: 60%;
}

.h-70 {
  height: 70%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.h-100 {
  height: 100%;
}

.tt-uppercase {
  text-transform: uppercase;
}

.tt-lowercase {
  text-transform: lowercase;
}

.tt-capitalize {
  text-transform: capitalize;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.fd-c {
  flex-direction: column;
}

.fd-cr {
  flex-direction: column-reverse;
}

.fd-r {
  flex-direction: row;
}

.fd-rr {
  flex-direction: row-reverse;
}

/* components */
.Header {
  background-color: var(--snow);
}

.Nav {
  border-bottom: 1px solid var(--ice);
}
.Nav__list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.Nav__search {
  background-color: var(--ice);
}
.Nav__inbox {
  position: relative;
}
.Nav__inbox::after {
  background-color: var(--sage);
  color: var(--drab);
  content: attr(data-text);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  font-weight: 600;
  top: -10px;
  right: -10px;
  pointer-events: none;
}

.Card__container {
  transition: max-height 0.4s;
}
.Card__container .Card {
  display: grid;
  grid-template-columns: 2fr 100px;
  border-bottom: 1px solid var(--ice);
  transition: 0.4s;
  height: 100px;
}
.Card__container .Card__btn {
  grid-area: 1/2/2/3;
}
.Card__container .Card__btn_inbox {
  background-color: var(--sage);
}
.Card__container .Card__btn_delete {
  background-color: var(--danger);
}
.Card__container .Card__text {
  overflow: hidden;
  transition: transform 0.1s;
  grid-area: 1/1/2/3;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  gap: 10px;
  background-color: var(--snow);
}
.Card__container .Card__img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hide-animation {
  animation: hide 0.5s forwards;
}

.show-animation {
  animation: show 0.5s;
}

.del-animation {
  height: 0px !important;
  border: 0px;
  opacity: 0;
  transform: translateX(-100vw);
}

@keyframes hide {
  100% {
    max-height: 0px;
    border-color: transparent;
    opacity: 0;
  }
}
@keyframes show {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  100% {
    max-height: 100vh;
    opacity: 1;
  }
}
.Section__header {
  text-transform: uppercase;
}
.Section__icon {
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.Section > * {
  border-top: 1px solid var(--ice);
}
.Section__chevron {
  transition: transform 0.1s ease-in-out;
}

.Setting {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid var(--ice);
  background-color: var(--snow);
}
.Setting__btn {
  width: 50px;
  padding: 1px;
  border-radius: 20px;
  background-color: var(--sage);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s;
}
.Setting__slider {
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--snow);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;
  transform: translateX(100%);
}
.Setting__header {
  text-transform: uppercase;
}

.Btn_darkMode {
  text-transform: uppercase;
  border: 1px solid var(--fossil);
  border-radius: 20px;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 25px;
}

@keyframes background-color-animation {
  0% {
    background-color: #D97D54;
  }
  50% {
    background-color: #de8d69;
  }
  100% {
    background-color: #D97D54;
  }
}
@keyframes border-bottom-color-animation {
  0% {
    border-bottom-color: #D97D54;
  }
  50% {
    border-bottom-color: #de8d69;
  }
  100% {
    border-bottom-color: #D97D54;
  }
}
.Tutorial {
  z-index: 2;
  position: absolute;
  border-radius: 5px;
  background-color: var(--rust);
  margin: 5px;
  padding: 10px;
  opacity: 1;
  max-width: 60%;
  animation: background-color-animation 3s infinite ease-in-out;
}
.Tutorial_highlighted {
  z-index: 2;
  text-shadow: 0 0 0.5em rgba(245, 220, 209, 0.3);
}
.Tutorial__triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--rust);
  position: absolute;
  top: -10px;
  animation: border-bottom-color-animation 3s infinite ease-in-out;
}
.Tutorial__skip-btn {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  top: 40%;
  left: 40%;
  pointer-events: auto !important;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(217, 125, 84, 0.5);
}

.LightBox {
  top: 0;
  left: 0;
  z-index: 1;
  background: rgb(0, 0, 0);
  opacity: 0.5;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

/*Toastify class*/
.Toast_delete, .Toast_save {
  font-size: 15px;
  color: #FFFFFF !important;
  max-width: 50% !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
}

.Toast_save {
  background: var(--sage) !important;
}

.Toast_delete {
  background: var(--danger) !important;
}

.arrow-container {
  background-color: var(--ice);
  padding: 10px;
  transition: transform 0.5s, top 0.2s;
  position: absolute;
  left: 45%;
  top: -52.5px;
  border-radius: 50%;
}
.arrow-container .arrow-round {
  transition: opacity 0.5s;
  opacity: 0;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border: 5px solid var(--drab);
  border-radius: 50%;
  border-right-color: transparent;
}
.arrow-container .arrow-round::after {
  content: "";
  position: absolute;
  border: 12px solid var(--drab);
  top: 10px;
  left: 27px;
  border-bottom-color: var(--drab);
  border-top-width: 0;
  border-right-width: 0;
  border-left-color: transparent;
}

.rotate-animation {
  animation: rotateReload 0.75s infinite ease-in-out;
}

@keyframes rotateReload {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=index.css.map */